body {
  font-family: 'PT Sans', sans-serif;
}


h1, h2, h3, h4, p, ul, li, blockquote {
  margin: 28px auto;
  width: 800px;
}

img {
  display: block;
  width: 1020px;
  margin: 90px auto;
}

h1 {
  font-size: 42pt;
  line-height: 45px;
  margin-top: 80px;
  margin-bottom: 36px;
  font-weight: bold;
}

h1 + p {
  color: rgba(0,0,0,.4);
  font-size: 20pt;
  line-height: 32px;
}

h2 {
  font-size: 34pt;
  line-height: 36px;
  margin-bottom: 28px;
}

h2 + h3 {
  margin-top: 56px;
}

h3 {
  font-size: 30pt;
  line-height: 34px;
}

h4 {
  font-size: 26pt;
}

ul {
  list-style-type: disc;
  font-size: 18pt;
}

p, blockquote, li {
  font-size: 18pt;
  line-height: 34px;
  margin-bottom: 52px;
}

blockquote {
  font-style: italic;
  position: relative;
}

blockquote::before {
  content: "";
  background: black;
  width: 3px;
  height: 100%;
  position: absolute;
  display: block;
  left: -17px;
  top: 0;
}

.last_paragraph {
  margin-bottom: 80px;
}

.citation {
  font-style: italic;
}

p.citation {
  border-left: 3px solid black;
  padding-left: 17px;
  width: 817px;
}

.text_bold {
  font-weight: bold;
}

.add_bullet_40 {
  margin-bottom: 40px;
}
