body {
  font-family: 'PT Sans', sans-serif;
}

.last_paragraph {
  margin-bottom: 80px;
}

.menubar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 4px 24px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.1);
  background: white;
}

.menubar a {
  text-decoration: none;
  height: 20px;
  color: #aaa;
}

.menubar img {
  height: 80%;
  width: auto;
}
