/* html {
  scroll-behavior: smooth;
}*/

body {
  font-family: 'PT Sans', sans-serif;
}

h1, h2, h3, p, ul, blockquote {
  width: 700px;
  margin: 0 auto;
}

h1, h2, h3 {
  font-family: 'PT Sans Caption', sans-serif;
  font-weight: bold;
}

a {
  color: inherit;
}

h1 {
  margin-top: 67px;
  font-size: 38px;
  line-height: 45px;
}

h1 + p {
  margin-top: 8px;
  font-family: 'PT Sans Caption', sans-serif;
  font-size: 22px;
  line-height: 32px;
  color: rgba(0,0,0,.4);
}

h1 + p + p {
  margin-top: 30px;
}

h2 {
  margin-top: 43px;
  font-size: 32px;
  line-height: 36px;
  color: rgba(0, 0, 0, .8);
}

h2 + p,
h2 + blockquote {
  margin-top: 7px;
}

h3 {
  margin-top: 36px;
  font-size: 28px;
  line-height: 34px;
  color: rgba(0, 0, 0, .8);
}

h3 + p,
h3 + blockquote {
  margin-top: 6px;
}

ul {
  list-style-type: disc;
  padding-left: 50px;
  /* list-style-position: inside; */
}

p, blockquote, li {
  margin-top: 29px;
  font-size: 20px;
  line-height: 34px;
}

blockquote {
  font-style: italic;
  position: relative;
}


blockquote::before {
  content: '';
  position: absolute;
  display: block;
  background: black;
  width: 3px;
  height: 100%;
  left: -17px;
}

.last_paragraph {
  margin-bottom: 80px;
}

.menubar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  padding: 0 20px;
  border-bottom: 1px solid #aaa;
  box-shadow: 0 3px 4px 1px rgba(0,0,0,.3);
}

.menubar a {
  text-decoration: none;
  height: 20px;
  color: #aaa;
}

.menubar img {
  height: 100%;
  width: auto;
}
