body {
  font-family: 'PT Sans Caption', sans-serif;
}

article section {
  display: block;
}

article h1,
article h2 {
  font-weight: bold;
}

article h1 {
  margin-top: 67px;
  font-size: 38px;
  line-height: 45px;
}

article h1 + .paragraph p:first-child {
  margin-top: 8px;
  font-family: 'PT Sans Caption', sans-serif;
  font-size: 22px;
  line-height: 32px;
  color: rgba(0,0,0,.4);
}

article h2 {
  margin-top: 43px;
  margin-bottom: 30px;
  font-size: 32px;
  line-height: 36px;
  color: rgba(0, 0, 0, .8);
}

article p,
article blockquote,
article li {
  margin-bottom: 30px;
  font-size: 20px;
  line-height: 34px;
}

article .figure {
  display: flex;
  justify-content: center;
  /* width: auto; */
}

article .figure img {
  width: 1020px;
  margin: 50px auto 80px auto;
}

article h2:first-of-type {
  margin-top: 0px;
}

article blockquote {
  font-style: italic;
  position: relative;
}

article blockquote::before {
  content: '';
  position: absolute;
  display: block;
  background: black;
  width: 3px;
  height: 100%;
  left: -17px;
}

article ul {
  list-style-type: disc;
  padding-left: 24px;
}
