/* @media all and (min-width: 1440px) {
  body { min-width: 1440px; }
}

@media all and (min-device-width: 1920px) {
  body { min-width: 1920px; }
}

@media all and (min-device-width: 2560px) {
  body { min-width: 2560px; }
}

@media all and (max-width: 1440px) {
  .about2-left img { height: 82%; }
}*/

@media all and (min-width: 1280px) {
  body { min-width: 100%; }
}


@media all and (min-device-width: 1790px) {
  body { min-width: 1792px; }
  .about h1, .bottom_block h1 { font-size: 32px; }
  .about1-right { width: 70%; }
  .about3-right { width: 70%; }
}

@media all and (max-width: 1340px) {
  .sidebar { display: none; }
}

@media all and (max-width: 1020px) {
	article img { width: 100%; }
}

@media all and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  article * { width: calc(100% - 40px); }
}

@media all and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
	.sidebar { display: none; }
}

@media all and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) {
  body { min-width: 320px; }
  article * { width: calc(100% - 40px); }
  article h1:first-of-type { margin-top: 60px; }
}
